
//カレンダー
.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.month {
    width: 120px;
    display: inline-block;
}

.today {
    background: rgba(28, 169, 97, 0.1);
}
